@media screen and (min-width: 576px) {
        section {
            flex: 0 0 350px;
            height: 350px;
            margin: 10px;
            transition: 0.5s;
        }

        form p {
            display: none;
        }
    }