@charset "UTF-8";

@media screen and (min-width: 575.98px) {
    main {
        background-color: aqua;
    }
}

@media screen and (min-width: 767.98px) {
    main {
        background-color: blue;
    }
}

@media screen and (min-width: 991.98px) {
    main {
        background-color: green;
    }
}

@media screen and (min-width: 1199.98px) {
    main {
        background-color: yellow;
    }
}

@media screen and (min-width: 1399.98px) {
    main {
        background-color: red;
    }
}