@charset "UTF-8";
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

main {
    width: 100vw;
    height: 100vh;
    background-color: #f3f781;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

section {
    flex: 0 1 260px;
    height: 300px;
    background-color: #f4f458;
    border-radius: 10px;
    box-shadow: 0px 0px 15px black;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

form {
    flex: 0 1 256px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

fieldset {
    flex: 0 1 256px;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

legend {
    margin-left: calc(50% - 32px - 16px);
}

div.usuario, div.senha {
    flex: 0 1 255px;
    padding: 0px 5px;
    margin-top: 10px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

input[type=text], input[type=password] {
    width: 184px;
    padding: 3px;
}

div.btn {
    flex: 0 1 255px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

input[type=submit] {
    flex: 0 1 90px;
    height: 25px;
    background-color: white;
    border: 1px solid black;
}

input[type=submit]:hover {
    cursor: pointer;
    box-shadow: 0px 0px 7px black;
}

input:focus {
    outline: 1px solid black;
}