@charset "UTF-8";

:root {
    --cor-001: #023047;
    --cor-002: #480ca8;
    --cor-003: #666666;
    --cor-004: #f72585;
    --cor-005: #cccccc;
    --cor-006: #ffffff;
    --cor-007: #555555;
    --cor-008: #ff0676;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

main {
    width: 100%;
    height: 100%;
    background-color: var(--cor-002);
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

section {
    flex: 0 0 350px;
    height: 450px;
    border-radius: 5px;
    background-color: var(--cor-006);
}