@charset "UTF-8";

:root {
    --cor-001: #023047;
    --cor-002: #29b19f;
    --cor-003: #666666;
    --cor-004: #0a7c6c;
    --cor-005: #cccccc;
    --cor-006: #ffffff;
    --cor-007: #555555;
    --cor-008: #29b19f;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

main {
    width: 100%;
    height: 100%;
    background-color: var(--cor-002);
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

section {
    flex: 0 0 300px;
    margin: 0 10px;
    height: 450px;
    border-radius: 5px;
    box-shadow: 0px 0px 30px var(--cor-001);
    background-color: var(--cor-006);
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

form {
    flex: 1 1 auto;
    height: 400px;
    margin: 10px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: stretch;
}

form h1 {
    font-size: 2.3em;
    color: var(--cor-001);
}

form p {
    color: var(--cor-003);
    margin-top: 15px;
}

form label {
    font-weight: bold;
    color: var(--cor-001);
    margin-top: 25px;
}

input[type=email], input[type=password] {
    height: 40px;
    border-radius: 5px;
    border: 1px solid var(--cor-005);
    padding-left: 15px;
    margin-top: 7px;
}

input[type=email]:hover, input[type=password]:hover {
    border: 1px solid var(--cor-004);
}

form input:focus {
    border: 1px solid var(--cor-004);
    outline: 0;
}

form a {
    color: black;
    font-size: 1em;
    margin-top: 15px;
}

form .btn {
    height: 40px;
    background-color: var(--cor-004);
    font-size: 1em;
    color: white;
    border-radius: 5px;
    border: none;
    margin-top: 15px;
}

form .btn:hover {
    background-color: var(--cor-008);
    cursor: pointer;
}